body {
  background-color: #2B3635;
}

#logo {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.random-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

p {
  color: white;
}

.header {
  background-color: #2B3635;
  margin-bottom: 20px;
  justify-content: center;
}

.colorCard {
  border: 1px solid white;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 400px;
  align-items: baseline;
}

.colors-set {
  padding-inline-start: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  background-color: #012525;
}