#logo {
  width: 15%
}

h2 {
  color: white;
}

.header {
  background-color: #012525;
}

.card {
  border: 1px solid white;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 200px;
  align-items: baseline;
}

.colors-set {
  padding-inline-start: 0;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  background-color: #2B3635;
}